@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    font-family: "Syne", serif;
}

span{
    color:#FFD700;
}

p{
    color: #c2c2c2;
    font-family: "Montserrat", serif;
}

.hidden-fadeRight{
    opacity: 0;
    filter: blur(5px);
    transition: all .8s;
   transform-origin: right;
    transform:translateX(100%);
 }
 
 .show-fadeRight{
     opacity: 1;
     filter: blur(0);
     transform: translateY(0%);
     transform-origin: right;
     transition: all .8s ease-in;
 }

.hidden-fadeLeft{
    opacity: 0;
    filter: blur(5px);
    transition: all .8s ease;
   transform-origin: right;
    transform:translateX(-100%);
 }
 
 .show-fadeLeft{
     opacity: 1;
     filter: blur(0);
     transform: translateY(0%);
     transform-origin: right;
     transition: all .8s ease;
 }

 .hidden-scale{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transition: all .8s ease;
   transform-origin: center;
    transform:scale(0.5);
 }
 
 .show-scale{
     opacity: 1;
     filter: blur(0);
     transform: scale(1);
     transition: all.8s ease;
     transform-origin: bottom;
 }


 .hidden-sec{
    opacity: 0;
    transition: all .8s ease;
    filter: blur(5px);
   transform-origin: bottom;
    transform:translateY(25%);
 }
 
 .show-sec{
     opacity: 1;
     filter: blur(0);
     transition: all .8s ease;
     transform: translateY(0%);
     transform-origin: top;
 }