@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    font-family: "Syne", serif;
}

span{
    color: gold;
}

p{
    color: rgba(225, 225, 225, .4);
    font-family: "Inter", serif;
}